<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css"
/>

<div class="main">
  <div class="heading">
    <h1>CodeGenio Task</h1>
  </div>
  <div class="section">
    <div class="products">
      <div>
        <div>
          <button class="btn" (click)="ProductAdd()">Add Product</button>
          <button class="btn" (click)="DeleteProduct()">
            Delete Product By Name
          </button>
          <button (click)="GetVendorProducts()" class="btn">
            Search By Vendor Name
          </button>
        </div>
        <hr />
        <div class="filter-div">
          <div id="filter">
            <div class="input-grp">
              <label style="margin-right: 10px">Max Price : </label>
              <input
                type="text"
                id="product-filter"
                placeholder="Max Price"
                [(ngModel)]="price"
              />
            </div>
          </div>
          <button class="btn" (click)="filter()">Filter Price</button>
        </div>
        <hr />

        <div class="filter-div">
          <div id="product-search">
            <div class="input-grp">
              <label>Product ID : </label>
              <input
                type="text"
                id="pro-search-id"
                placeholder="product ID"
                [(ngModel)]="id"
              />
            </div>
          </div>
          <div>
            <button class="btn" (click)="SearchProductbyID()">
              Search By Product ID
            </button>
          </div>
        </div>
        <hr />
      </div>

      <div id="vendor-search" *ngIf="displayVendor">
        <div class="input-grp">
          <label>Vendor First Name</label>
          <input
            type="text"
            id="ven-search-first"
            placeholder="first name"
            [(ngModel)]="firstname"
          />
        </div>
        <div class="input-grp">
          <label>Vendor Last Name</label>
          <input
            type="text"
            id="ven-search-last"
            placeholder="last name"
            [(ngModel)]="lastname"
          />
        </div>
        <div>
          <button
            class="btn"
            style="width: 80%; margin-left: 10%"
            (click)="searchVendor()"
          >
            Search
          </button>
        </div>
      </div>

      <div id="product-dlt" *ngIf="displaydlt">
        <div class="input-grp">
          <label>Product Name</label>
          <input
            type="text"
            id="delete_name"
            placeholder="product name"
            [(ngModel)]="lastname"
          />
        </div>
        <button class="btn" style="width: 80%" (click)="deleteName()">
          Delete
        </button>
      </div>
      <form
        (ngSubmit)="SaveProduct()"
        class="productAdd"
        id="product-add"
        *ngIf="display"
        [formGroup]="productForm"
      >
        <div class="input-grp">
          <label>Product Name</label>
          <input
            type="text"
            id="name"
            placeholder="product name"
            formControlName="product_name"
          />
        </div>
        <div class="input-grp">
          <label>Product Price</label>
          <input
            type="text"
            id="price"
            placeholder="product price"
            formControlName="product_price"
          />
        </div>
        <div class="input-grp">
          <label>Category Name</label>
          <input
            type="text"
            id="cat"
            placeholder="category name"
            formControlName="product_category"
          />
        </div>
        <div class="input-grp">
          <label>Vendor ID</label>
          <select id="v_id" formControlName="vendor_id">
            <option value="1">Subyyal : 1</option>
            <option value="2">Shahid : 2</option>
            <option value="3">Abdul : 3</option>
            <option value="4">Jabir : 4</option>
          </select>
        </div>
        <button class="btn" style="width: 80%; margin-left: 10%" type="submit">
          Save
        </button>
        <!-- <span><button class="btn" (click)="cancel()">Cancel</button></span> -->
      </form>
      <h2>Products</h2>
      <table>
        <thead>
          <tr>
            <th>Product ID</th>
            <th>Product Name</th>
            <th>Product Price</th>
            <th>Vendor ID</th>
            <th>Category ID</th>
            <th>Action</th>
            <td>
              <button class="view" (click)="refresh()">
                <i class="bi bi-check2"></i>
              </button>
            </td>
          </tr>
        </thead>
        <tbody *ngFor="let p of Products" id="product-data">
          <tr>
            <td>{{ p.id }}</td>
            <td>{{ p.name }}</td>
            <td>{{ p.price }}</td>
            <td>{{ p.vendor_id }}</td>
            <td>{{ p.category_id }}</td>
            <td><button class="dlt" (click)="DeleteId(p.id)">X</button></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="category">
      <h2>Category</h2>
      <table>
        <thead>
          <tr>
            <th>Category ID</th>
            <th>Category Name</th>
            <th>Status</th>
            <th>View</th>
          </tr>
        </thead>
        <tbody *ngFor="let c of data.Category" id="category-data">
          <tr>
            <td>{{ c.id }}</td>
            <td>{{ c.name }}</td>
            <td>{{ c.status }}</td>
            <td>
              <button class="view" (click)="GetCategoryProducts(c.id)">
                <i class="bi bi-check2"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="vendor">
      <h2>Vendors</h2>
      <table>
        <thead>
          <tr>
            <th>Vendor ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Contact Number</th>
          </tr>
        </thead>
        <tbody *ngFor="let v of data.Vendor" id="vendor-data">
          <tr>
            <td>{{ v.id }}</td>
            <td>{{ v.first_name }}</td>
            <td>{{ v.last_name }}</td>
            <td>{{ v.contact_number }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
